.box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    text-align: left;
}

.label {
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 140%;
    left: 0;
    top: 0;
}

.basic-input {
    width: 100%;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 20px;
    position: relative;
}

.basic-input::after {
    border-bottom: none;
    left: none;
    bottom: none;
    content: none;
    position: none;
    right: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transition: none;
    transition: none;
    pointer-events: none;
}

.basic-input:before {
    border-bottom: none;
    left: none;
    bottom: none;
    content: none;
    position: none;
    right: none;
    -webkit-transition: none;
    transition: none;
    pointer-events: none;
}

.basic-input input {
    flex: 1;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 16px;
    margin-top: -1px;
    position: relative;
    padding: 0;
}

.small-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    text-align: left;
    width: 234px;
}

.middle-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    text-align: left;
    width: 329px;
}

.big-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    text-align: left;
    width: 502px;
}