.button-large {
    width: 496px;
    border-radius: 15px;
}

.button-medium {
    width: 309px;
    border-radius: 20px;
    font-weight: bold;
}

.button-small {
    width: 172px;
}

.button-fit {
    width: fit-content;
    height: fit-content;
}

.category-button {
    width: 327px;
    display: flex;
    justify-content: flex-start;
}

.button-icon {
    margin: 10px;
}

.button-text {
    margin: 10px;
    margin-right: 14px;
    text-transform: none;
    text-align: left;
    font-family: 'Nunito', sans-serif;
    font-size: 14pt;
    font-weight: 500;
}

.container {
    padding-left: 0%;
    padding-right: 0%;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 15px 10px;
}