:root {
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}

[data-theme='base'] {
  --dark-blue: #011034;
  --green: #61D85A;
  --light-blue: #049CE4;
  --blue: #254ACE;
}