.icon-container{
    width: 14.58px;
    height: 20.83px;
    top: 2.08px;
    left: 5.21px;
}
.primary-label {
    color: var(--dark-blue);
    padding: 5px;
    text-align: left;
}

.head-label {
    color: white;
    padding: 5px;
    text-align: left;
}

.with-icon-label {
    width: 297px;
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 12px;
}

.status-label {
    width: 36px;
    height: 22px;
    border-radius: 5px;
    padding: 5px;
}

.small-label-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 21.82px;
    font-family: Nunito;
    color: #343232;
}

.middle-label-text{
    font-weight: 700;
    font-size: 20px;
    line-height: 27.28px;
}

.status-label-text{
    font-size: 16px;
    font-weight: 400;
    font-family: Nunito;
}
.head-label-text{
    font-size: 36px;
    font-weight: 500;
    font-family: Radio Canada;
}