.primary-label {
    color: white;
    background-color: var(--dark-blue);
    padding: 5px;
    border-radius: 5px;
}

.head-label {
    color: white;
    background-color: var(--dark-blue);
    padding: 5px;
    border-radius: 5px;
}

.with-icon-label {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.no-background-label {
    padding: 5px;
    border-radius: 5px;
}

.small-label-text{
    font-size: 10px;
    font-weight: 400;
}

.middle-label-text{
    font-size: 16px;
    font-weight: 600;
}

.big-label-text{
    font-size: 20px;
    font-weight: 800;
}