.small-dropdown {
    text-align: left;
    width: 117px;
    height: 48px;
    color: #737070;
    border-radius: 5px;
    border: 1px solid #000;
}

.middle-dropdown {
    text-align: left;
    width: 259px;
    height: 48px;
    color: #737070;
    border-radius: 5px;
    border: 1px solid #000;
}

.big-dropdown {
    text-align: left;
    width: 592px;
    height: 48px;
    color: #737070;
    border-radius: 5px;
    border: 1px solid #000;
}